#
# Basic configuration options
#

# Directory where all configuration will be stored
# Traefik
CONFIG_TRAEFIK=~/.traefik-cfg

# Smokeping
CONFIG_SMOKEPING=~/.smokeping-cfg

# Exposed HTTP port (traefik)
HTTP_PORT=44080

# Exposed HTTPS port (traefik)
HTTPS_PORT=44443

# System time zone
TZ=Europe/Zurich

# Container restart policy
# Defaults to unless-stopped
RESTART_POLICY=unless-stopped
